@model OnlineBakeryOrderingSystem.Bakery

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Bakery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CustomerNumber" />
                <div class="form-group">
                <label asp-for="BakeryProduct" class="control-label"></label>
                <select asp-for="BakeryProduct" asp-items="Html.GetEnumSelectList<BakeryProduct>()" class="form-control"></select>
                <span asp-validation-for="BakeryProduct" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerName" class="control-label"></label>
                <input asp-for="CustomerName" class="form-control" />
                <span asp-validation-for="CustomerName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CustomerEmailAddress" class="control-label"></label>
                <input asp-for="CustomerEmailAddress" class="form-control" />
                <span asp-validation-for="CustomerEmailAddress" class="text-danger"></span>
            </div>
           
            <div class="form-group">
                <label asp-for="NumberOfOrder" class="control-label"></label>
                <input asp-for="NumberOfOrder" class="form-control" />
                <span asp-validation-for="NumberOfOrder" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
